includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/localheinz/phpstan-rules/rules.neon

parameters:
	ignoreErrors:
		- '#Constructor in Localheinz\\Composer\\Json\\Normalizer\\ComposerJsonNormalizer has parameter \$schemaUri with default value.#'
	tmpDir: %rootDir%/.phpstan
