includes:
	- vendor/ergebnis/phpstan-rules/rules.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan/conf/config.levelmax.neon

parameters:
	ergebnis:
		classesAllowedToBeExtended:
			- Localheinz\Composer\Json\Normalizer\Test\Unit\AbstractNormalizerTestCase
	ignoreErrors:
		- '#Constructor in Localheinz\\Composer\\Json\\Normalizer\\ComposerJsonNormalizer has parameter \$schemaUri with default value.#'
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
